/* page style */
.container-blog {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:20vh 20vh 70vh 10vh;
  grid-template-areas:
  "hd"
  "menu"
  "main"
  "ft";
  justify-content: center;
  align-items: center;
}

/* header style */



/* menu style */
.menu {
  grid-area : menu;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.menu-style{
  color : #9a9b9c;
}

h4:hover {
  color:black;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #f5ad31;
  text-decoration-style: double;
  cursor : pointer;
}

/* box style */
.main-box{
  grid-area: main;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 11em;
}

/* content style */
.blog-box-setting{
  display: flex;
  width :20vw;
  height:50vh;
  flex-direction: column;
  align-items: center;
  margin: 1rem 5rem;
  box-shadow: 2px 2px 6px grey;
  background: white;
  border-radius: 1%;
  max-width: 90%;
  overflow: hidden;
  display:grid;
  grid-template-areas:
  "box-top"
  "box-middle"
  "box-bottom";
}

.blog-box-setting:hover{
  box-shadow: 2px 2px 6px 2px #f5ad31;
}

.blog-image-setting{
  width: 100%;
  object-fit:cover;
}

.box-middle {
  display: flex;
  flex-direction: column;
  grid-area: box-middle;
  align-items: center;
  justify-content: center;
}

.text-align {
  display: flex;
  flex-direction: column;
  grid-area:box-bottom;
  margin: 1em;
}

/* footer style */
.footer{
  grid-area: ft;
  text-align: right;
  margin: 7em;
}

/* responsive layout */
@media(max-width:1100px){
  .container-blog {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:15vh 1fr;
    grid-template-areas:
    "hd"
    "main"
    justify-content: center;
    align-items: center;
  }

  header {
    grid-area:hd;
  }

  .main-box{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .blog-box-setting{
    display: flex;
    width :60vw;
    height:50vh;
    flex-direction: column;
    align-items: center;
    margin: 1rem 5rem;
    box-shadow: 2px 2px 6px grey;
    background: white;
    border-radius: 1%;
    max-width: 90%;
    overflow: hidden;
    display:grid;
    grid-template-areas:
    "box-top"
    "box-middle"
    "box-bottom";
  }

  .menu{
    display: none;
  }

  .footer{
    display: none;
  }

  .icon{
    display: none;
  }
}
